<div id="chat-area">
  <h3>Hey, {{first_name}}</h3>

  <ul id="messages"></ul>
  <input id="messageInput" autocomplete="off" placeholder="Type a message..." /><button id="sendButton"
    data-sender="{{first_name}}">Send</button>
  {{!-- <button id="apiButton">Fetch API Message</button> --}}
</div>