Handlebars.registerPartial('myPartial', '{{header}}');





<header>
    <img src="../../assets/img/passpourlogoSkinny.png" id="logo" alt="PassPour logo">
    <nav>
        <a href="./bucketList.html">Bucket</a>
        <a href="./showcase.html">Showcase</a>
        <a href="">Badges</a>
    </nav>
    <a href="../../index.html">
        <button id="logout" >logout</button>
      </a>
  </header>








Handlebars.registerPartial()