<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{!-- <link rel="stylesheet" href="css/chat.css"> --}}
  <link rel="stylesheet" href="/assets/css/landing.css">

  <title>Document</title>
</head>

<body>
  <header>
    <img src="images/passpourlogoSkinny.png" id="logo" alt="PassPour logo">
    <h1 class="title">Welcome to PassPour!</h1>
  </header>

  {{{ body }}}

  <footer>
    <h4>Created by --band name--</h4>
  </footer>
{{!-- 
  <script type="text/javascript" src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  <script type="text/javascript" src="/js/sockets.js"></script> --}}
</body>

</html>