

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{!-- Reset CSS --}}
  <link rel="stylesheet" href="/assets/css/reset.css">

  {{!-- Bootstrap CSS Link Tag --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

  {{!-- Custom CSS --}}
  {{!-- login --}}
  {{!-- <link rel="stylesheet" href="/assets/css/homepage.css"> --}}

  {{!-- explore  --}}
  {{!-- <link rel="stylesheet" href="/assets/css/explore.css"> --}}

  {{!-- showcase --}}
  {{!-- <link rel="stylesheet" href="/assets/css/showcase.css"> --}}

  {{!-- profile --}}
  <link rel="stylesheet" href="/assets/css/profile.css">




  <title>PassPour</title>
</head>

<body>
  <header>

  {{!-- Actual header is in explore.handlebar.js file --}}
    {{#if logged_in}}
      <button id="logout">logout</button>
    {{/if}}

  </header>

  {{{body}}}

  


  <footer class="footer-main">Made by The Four Oh! Fours</footer>


  {{!-- JQuery Script Tag --}}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Bootstrap Script Tag -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"></script>

  {{!-- Web Sockit  Script --}}
  <script type="text/javascript" src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>


  {{#if logged_in}}
    <script type="text/javascript" src="/assets/js/logout.js"></script>
  {{/if}}

</body>
</html>