{{!-- This file should be named: explore.handlebars --}}



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{!-- Bootstrap CSS Link Tag --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

  {{!-- Custom CSS --}}
  {{!-- <link rel="stylesheet" href="/assets/css/homepage.css"> --}}
  <link rel="stylesheet" href="/assets/css/explore.css">
  <title>PassPour</title>
</head>

<body>
  <header>
    <img src="/assets/img/passpourlogoSkinny.png" id="logo" alt="PassPour logo">
    <nav>
      <a href="../favorites.handlebars">Showcase</a>
      <a href="">Badges</a>
      <a href="../../public/assets/html/bucketList.html">Bucket List</a>
    </nav>
    {{!-- <button id="logout">logout</button> --}}
    {{!-- </a> --}}
  </header>

  {{{body}}}

  


  <footer class="container_6">Made by The Four Oh! Fours</footer>
  {{!-- <script src="/assets/js/homepage.js"></script> --}}

  <script type="text/javascript" src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  <script type="text/javascript" src="assets/js/sockets.js"></script>
</body>

</html>