<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- Custom CSS --}}
  <link rel="stylesheet" href="/assets/css/profile.css">
  <title>PassPour</title>
</head>

<body>
  <header class="header">
    <img src="/assets/img/passpourlogoSkinny.png" id="logo" alt="PassPour logo">
    <nav>
      <a class="nav-button" href="/">Explore</a>
      <a class="nav-button" href="/showcase">Showcase</a>
      <a class="nav-button" href="/assets/html/bucketList.html">Bucket List</a>
    {{#if logged_in}}
    <button id="logout">
      <a class="nav-button">Logout</a>
    </button>
    {{/if}}
    </nav>
  </header>

  {{{body}}}

  <footer class="footer-profile">Made by The Four Oh! Fours</footer>
  
  {{#if logged_in}}
  <script type="text/javascript" src="/js/logout.js"></script>
  {{/if}}

  {{!-- <script type="text/javascript" src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script> --}}
  {{!-- <script type="text/javascript" src="assets/js/sockets.js"></script> --}}
</body>

</html>