<header>
  <nav class="nav-bar">
    <a href="">Home</a>
    <a href="">Bucket List</a>
    <a href="">About</a>
    <a href="">Logout</a>
  </nav>
</header>
<main>
  <h1>Explore</h1>
  <!-- Row 1 -->
  <div class="container text-center">
    <div class="row align-items-start clearfix cubbies">
      {{#each bottles as |bottle|}}
      <div class="col-3 text-white">
        <h2>{{whiskey_name}}</h2>
        <h3>{{whiskey_type}}</h3>
      </div>
      {{/each}}
    </div>
  </div>
</main>
<footer>
  <p> A Group 2 Production</p>
</footer>