  <link rel="stylesheet" href="/assets/css/explore.css">


<body>

  <header class="header">
    <img src="/assets/img/passpourlogoSkinny.png" id="logo" alt="PassPour logo">
    <nav>
      <a class="nav-button" href="/profile">Profile</a>
      <a class="nav-button" href="/showcase">Showcase</a>
      <a class="nav-button" href="/assets/html/bucketList.html">Bucket List</a>
    </nav>
  </header>
  
<main class="main-explore">
   
  <div class="woodbox-title-container">
    <h1>Explore & Find New Whiskey!</h1>
  </div>
   
  {{!-- This is the where the bottle cards will appear for the user to review any that were to be of interest. --}}

  <div class="container text-center">
    <div class="row align-items-start cubbies showcase">
      {{#each bottles as |bottle|}}
            

        {{!-- This button will add the bottle to favoriteBottle to the showcase page. On press, the website will open a modal to add a 2 fields for the User to add to their favorite bottle in the showcase.  --}}

        <div class="col-3 text-white">
          <h2>{{whiskey_name}}</h2>
          <h3>{{whiskey_type}}</h3>

          <div class="text-center mb-5">
            <button class="open-modal" id="{{id}}" data-bs-toggle="modal" data-bs-target="#formModal" 
            href="../views/favorites.handlebars"
            target="bottlemodal">Add To Showcase</button>
          </div>
          
          <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="bottlemodal">Add Details to Showcase</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                  <form id="task-form">
                    <div class="row p-2">
                      <div class="form-group col">
                        <label for="title">How do you like your Whiskey?</label>
                        <select class="order-form">
                          <option>Neat</option>
                          <option>On The Rocks</option>
                          <option>Mixed Drink</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group p-2">
                      <label for="textarea">What are some taste notes that you detect?</label>
                      <textarea class="form-control" id="tasteNotes" rows="3" placeholder="Example: Smokey with some fruity after-tastes"></textarea>
                    </div>
                  </form>
                </div>
                
                <div class="modal-footer">
                  <button id="add-as-is" type="submit" class="showcase-btn">No Thanks, Add to Showcase.</button>
                  <button id="add-notes" type="submit" class="showcase-btn">Add Notes!</button>
                  <p class="confirmation"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
       {{/each}}
    </div>
  </div>
</main>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="assets/js/explore.js"></script>


