
<main>
   
  <div class="woodbox-title-container">
    <h1>Explore & Find New Whiskies!</h1>
  </div>
  
  
  {{!-- This is the where the bottle cards will appear for the user to review any that were to be of interest. --}}

  <div class="container text-center">
    <div class="row align-items-start cubbies">
      {{#each bottles as |bottle|}}
      <div class="col-3 text-white">
        <h2>{{whiskey_name}}</h2>
        <h3>{{whiskey_type}}</h3>
      </div>
      {{/each}}
    </div>
  </div>
</main>
