<main class="showcase-main">
  <h1 class="showcase-h1">The Showcase</h1>
  <div class="container text-center">
    <div class="row align-items-start clearfix cubbies">
      {{#each bottles as |bottle|}}
      <div class="col-3 text-white drink-card">
        <h2>{{whiskey_name}}</h2>
        <h3>{{whiskey_type}}</h3>
        <p>{{favoritebottle.order}}</p>
        <p>{{favoritebottle.taste_notes}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</main>


<script src='/assets/js/showcase.js'> </script>

