<main>
    <div class="container_2">
        <h1>My Profile</h1>
        <ul class="pours">
            <button>Add ProfilePic</button>
        </ul>
    </div>

    <div class="container_3">
        <ul id="header">
            <a href="/bucketList.html">
                <button>Show All</button>
            </a>
        </ul>
        <h1 class="title">Bucket List:</h1>
        <div class="diamond-container"></div>
    </div>


    <div class="container_5">
        <ul id="header">
            <a href="/showcase">
                <button>Show All</button>
            </a>
        </ul>
        <h1 class="title">The Show Case:</h1>
        <div class="diamond-container"></div>
    </div>


</main>


<script type="text/javascript" src="assets/js/sockets.js"></script>