<main class="profile-main row">
    <div class="col-6">
        <div class="container_2">
            <h1>My Profile</h1>
            <ul class="pours">
                <button>Add ProfilePic</button>
            </ul>
        </div>
    </div>

    <div class="col-6">
        <div class="row container_3">
            <div class="col-7">
                <h1 class="title">Bucket List:</h1>
                <div class="diamond-container"></div>
            </div>

            
            <ul class='col-5' id="header">
                <a style='background-color: transparent' href="/assets/html/bucketList.html">
                    <button>Go To</button>
                </a>
            </ul>
        </div>
    
        <div class="row container_5">
            <div class="col-7">
                <h1 class="title">The Showcase:</h1>
                <div class="diamond-container"></div>
            </div>

            
            <ul class='col-5' id="header">
                <a style='background-color: transparent' href="/showcase">
                    <button>Go To</button>
                </a>
            </ul>
        </div>
    </div>
</main>


<script type="text/javascript" src="assets/js/sockets.js"></script>
<script type="text/javascript" src="../public/assets/js/profile.js"></script>