<main>
    <div class="container_2">
        <h1>My Profile</h1>
        <ul class="pours">
            <button>Add ProfilePic</button>
            <button>About Me</button>
        </ul>
    </div>

    <div class="container_3">
        <ul id="header">
            <a href="../public/assets/html/bucketList.html">
                <button>Show All</button>
            </a>
        </ul>
        <h1 class="title">Bucket List:</h1>
        <div class="diamond-container"></div>
    </div>

    <div class="container_4">
        <ul id="header">
            <a href="accolades page">
                <button>Show All</button>
            </a>
        </ul>
        <h1 class="title">Badge Tracker:</h1>
        <div class="circle-container"></div>
    </div>

    <div class="container_5">
        <ul id="header">
            <a href="/favorites">
                <button>Show All</button>
            </a>
        </ul>
        <h1 class="title">The Show Case:</h1>
        <div class="diamond-container"></div>
    </div>


</main>