a{
  text-decoration: none;
  font-size: larger;
  color: #ffffff;
}

header{
  background-color: #451e05;
  padding: 10px;
  border-radius: 5px;
}

nav{
  float: right;
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
  padding: 5px;
  margin: 3px;
}

#logo{
  max-width: 20%;
  max-height: 20%;
}

body{
  background-image: url(../../assets/img/josephine-bredehoft-KsAo8ouBn8A-unsplash.jpg);
  color: #ffffff;
}
