a{
  text-decoration: none;
  margin-top: 5px;
}
header{
  background-color: #451e05;
  padding: 10px;
}

nav{
  background-color: #fcf77a;
  float: right;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: space-between;
}

#logo{
  max-width: 20%;
  max-height: 20%;
}

body{
  background-image: url(../../assets/img/josephine-bredehoft-KsAo8ouBn8A-unsplash.jpg);
  background-color: brown;
  color: #ffffff;
}
