

.container{
  /* border: 3px solid red; */
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: right;
  text-align: end; 
  /* align-content: space-between; */
  /* justify-content: space-between; */
}

.container_1{
  border: 3px solid green;
  display: flex;
  padding-top: 10px;
  flex-direction: row; 
  text-decoration: none; 
  justify-content: right; 
  text-align: end;
}; 

.container_2{
  border: solid 3px red;
  /* height:50px;
  width:50px; */
};

.image1 {
  height: 50%;
  width: 50%;
}
