:root{
  background-image: url(../../assets/img/josephine-bredehoft-KsAo8ouBn8A-unsplash.jpg);
  font-family:Arial, Helvetica, sans-serif
}

a {
  text-decoration: none;
  font-size: larger;
  color: #ffffff;
  margin: 3px;
  /* padding: 3px; */
  /* background-color: #31c5ff; */
  border-radius: 5px;
}

header {
  background-color: #451e05;
  padding: 10px;
  border-radius: 5px;
}

nav {
  float: right;
  display: flex;
  flex-direction: row;
  width: 15%;
  justify-content: space-between;
  padding: 5px;
  margin: 3px;
}

#logo {
  max-width: 20%;
  max-height: 20%;
}

#logout {
  position: absolute;
  top: 80px;
  right: 40px;
}

body {
  color: #ffffff;
}

form {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

#submit {
  max-width: 80px;
  background-color: #31c5ff;
  color: #ffffff;
  border: none;
  padding: 3px;
  border-radius: 5px;
  margin-left: 10px;
}

input, textarea {
  padding: 5px;
  margin: .5rem;
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
  }
  header {
    font-size: smaller;
  }
  #logo {
    min-width: 25%;
    min-height: 25%;
  }
  form {
    max-width: 75%;
  }
}

#postContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  flex-wrap: wrap;
}

.post-it {
  /* background-color: yellow; */
  color:black;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px; 
}

.post-it p {
  margin: 0; 
  border-bottom: 1px solid black; 
  padding-bottom: 5px; 
}


.delete-btn {
  background-color: #F0ba34;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

