
/* Color Scheme */
:root {
  --background-brown: #451E05;
  --whiskey-orange: #FF8D26;
  --sky-blue: #31C5FF;
  --glass-grey: #D5DBE9;
}


body {
  background-image: url(../../images/barrels-unsplash.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  height: 15rem;
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
  font-size: larger;
  color: #ffffff;
  margin: 3px;
  /* padding: 3px; */
  /* background-color: #7f9dba; */
  border-radius: 5px;
}

header{

  padding: 30px;
  border-radius: 5px;
  border: 3px solid var(--sky-blue);
}

nav{
  float: right;
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-between;
  padding: 5px;
  margin: 3px;
}


#logout {
  position: absolute;
  top: 80px;
  right: 40px;
}

/* This is the wood backround that displays the title of the page: "Explore & Find New Whiskies!" */
.woodbox-title-container {
  background-image: url(../../images/wood-sign-unsplash.jpg);
  color: var(--whiskey-orange);
  text-align: center;
  text-decoration-color: black;
  background-size: auto;
  height: 5rem;
  padding: 12px;
  width: 600px;
  border: 5px solid;
  margin-top: 170px;
  margin-left: auto;
  margin-right: auto;
}

/* Add to showcase button */
.showcase-btn {
  color: rgb(255, 255, 255); 
  font-size: 14px; 
  line-height: 14px; 
  padding: 7px; 
  border-radius: 8px; 
  font-family: Georgia, serif; 
  font-weight: normal; 
  text-decoration: none; 
  font-style: normal; 
  font-variant: normal; 
  text-transform: none; 

  background-image: linear-gradient(to right, #451E05 0%, #FF8D26 50%, #451E05 100%); 

  box-shadow: #000000 5px 5px 15px 5px; 
  border: 2px solid #451E05; 
  display: inline-block;
}

.myButton:hover {
  background: #FF8D26; 
}

.myButton:active {
background: #e2df0b; 
}




/* Modal pop up of the Bottle object to add details of thier entry*/
#bottlemodal {
  background-color: var(--whiskey-orange);
  height: 200px;
  width: 100px;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 3px var(--background-brown);
}




.container{
  /* border: 3px solid red; */
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: right;
  text-align: end; 
  /* align-content: space-between; */
  /* justify-content: space-between; */
}

.container_1{
  /* border: 3px solid green; */
  display: flex;
  padding-top: 10px;
  flex-direction: row; 
  text-decoration: none; 
  justify-content: left; 
  text-align: end;
}; 

.container_2{
  border: solid 3px red;
  /* height:50px;
  width:50px; */
};

.image1 {
  height: 50%;
  width: 50%;
}
