
/* Color Scheme */
:root {
  --background-brown: #451E05;
  --whiskey-orange: #FF8D26;
  --sky-blue: #31C5FF;
  --glass-grey: #D5DBE9;
}


body {
  background-image: url(../../images/barrels-unsplash.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  height: 15rem;
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
  font-size: larger;
  color: #ffffff;
  margin: 3px;
  /* padding: 3px; */
  /* background-color: #7f9dba; */
  border-radius: 5px;
}

header{

  padding: 30px;
  border-radius: 5px;
  border: 3px solid red;
}

nav{
  float: right;
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-between;
  padding: 5px;
  margin: 3px;
}


#logout {
  position: absolute;
  top: 80px;
  right: 40px;
}


.woodbox-title-container {
  background-image: url(../../images/wood-sign-unsplash.jpg);
  color: var(--whiskey-orange);
  text-align: center;
  background-size: auto;
  height: 5rem;
  margin: auto;
  padding: 12px;
  width: 600px;
  border: 5px solid;
}


/* Modal pop up of the Bottle object to add details of thier entry*/
.modal-dialog {
  color: var(--whiskey-orange)
}




.container{
  /* border: 3px solid red; */
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: right;
  text-align: end; 
  /* align-content: space-between; */
  /* justify-content: space-between; */
}

.container_1{
  /* border: 3px solid green; */
  display: flex;
  padding-top: 10px;
  flex-direction: row; 
  text-decoration: none; 
  justify-content: left; 
  text-align: end;
}; 

.container_2{
  border: solid 3px red;
  /* height:50px;
  width:50px; */
};

.image1 {
  height: 50%;
  width: 50%;
}
