
/* Color Scheme */
:root {
  --background-brown: #451E05;
  --whiskey-orange: #FF8D26;
  --sky-blue: #31C5FF;
  --glass-grey: #D5DBE9;
}


.explore-main {
  background-image: url(../../images/barrels-unsplash.jpg);
  background-attachment: scroll;
  background-size: contain;
  background-position: center;
  height: fit-content;
  background-repeat: repeat-y;
}


.header-explore{
  background-color: #451e05;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid var(--sky-blue);
}



/* This is the wood backround that displays the title of the page: "Explore & Find New Whiskies!" */
.woodbox-title-container {
  background-image: url(../../images/wood-sign-unsplash.jpg);
  color: var(--whiskey-orange);
  text-align: center;
  text-decoration-color: black;
  background-size: auto;
  height: 5rem;
  padding: 12px;
  width: 600px;
  border: 5px solid;
  margin-left: auto;
  margin-right: auto;
}


/* Add to showcase button */
.showcase-btn {
  color: rgb(255, 255, 255); 
  font-size: 14px; 
  line-height: 14px; 
  padding: 7px; 
  border-radius: 8px; 
  font-family: Georgia, serif; 
  font-weight: normal; 
  text-decoration: none; 
  font-style: normal; 
  font-variant: normal; 
  text-transform: none; 

  background-image: linear-gradient(to right, #451E05 0%, #FF8D26 50%, #451E05 100%); 

  box-shadow: #000000 5px 5px 15px 5px; 
  border: 2px solid #451E05; 
  display: inline-block;
}

.showcase-btn:hover {
  background: #FF8D26; 
}

.showcase-btn:active {
background: #e2df0b; 
}

/* This the the bottle card appended to the site */
.drinkCard {
  background-color: var(--background-brown);
  color: var(--whiskey-orange);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 2px dotted;
  padding: 0px;
  align-items: center;
}


/* Modal pop up of the Bottle object to add details of thier entry*/
#formModal {
  background-color: var(--whiskey-orange);
  height: 385px;
  width: 500px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 3px var(--background-brown);
  color: var(--background-brown);
}




