:root {
    font-family: Arial, Helvetica, sans-serif
}

header {
    background-color: #451e05;
    padding: 10px;
    border-radius: 5px;
}

nav {
    float: right;
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    padding: 5px;
    margin: 3px;
}

a {
    text-decoration: none;
    font-size: larger;
    color: #ffffff;
    margin: 3px;
    padding: 3px;
    background-color: #31c5ff;
    border-radius: 5px;
}

#logo {
    max-width: 20%;
    max-height: 20%;
}

#logout {
    position: absolute;
    top: 80px;
    right: 40px;
}

body{
    background-image: url(../img/thomas-thompson-BoVxWyS5KAE-unsplash.jpg);

}

.forms {
    display: flex;
    flex-direction: row;
}

#signUp {
    display: flex;
    flex-direction: column;
}

#signIn {
    display: flex;
    flex-direction: column;
}

.container_1 {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: fit-content;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    flex-direction: column;
}

.container_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ffffff;
    max-width: 50%;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px;
}

button {
    text-decoration: none;
    font-size: larger;
    color: #ffffff;
    padding: 3px;
    background-color: #31c5ff;
    border-radius: 5px;
}

.footer-main {
    color: #ffffff;
    background-color: var(--sky-blue);
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    justify-content: space-between;
}

@media screen {
    nav {
        display: flex;
        flex-wrap: wrap;
    }

    #logo {
        min-width: 25%;
        min-height: 25%;
    }
}