
  body {
    background-image: url('../../assets/img/dushawn-jovic-NHMUvu58Iz8-unsplash.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: 300px;
}
header {
    position: relative;
    background-color: #451e05;
    padding: 2px;
    border-radius: 5px;
}


body {
    background-image: url(..//img/celler-barrels-unsplash.jpg);
    background-attachment: scroll;
    /* background-size: cover; */
    background-position: center;
    /* height: 280vh; */
  }
  .explore-main{
    background-image: url(../img/barrels-unsplash.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
  }

/* a {
    text-decoration: none;
    font-size: larger;
    color: #D07725;
    margin: 3px; 
    padding: 3px;
    background-color: #31c5ff;
    border-radius: 5px;
} */


nav{
    float: right;
    display: flex;
    flex-direction: row;
    width: 12%;
    justify-content: space-between;
    padding: 5px;
    margin: 3px;
}

#logo {
    max-width: 20%;
    max-height: 20%;
}

#logout {
    position: absolute;
    top: 70px;
    right: 40px;
}

.container_2 {
    width: 300px;
    float: left;
    padding: 30px;
    border: 2px solid #F0ba34;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}

#profile-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#profile-pic {
    display: none;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

#delete-btn {
    display: none;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: end;
      justify-content: space-between;
    }
    header{
      font-size: smaller;
    }
    #logo{
      min-width: 25%;
      min-height: 25%;
    }
    .bucket-container{
      max-width: 120%;
    }
    .container_3{
        max-width: 120%;
      }
    .container_4{
        max-width: 120%;
      }
    .container_5{
        max-width: 120%;
      }

  }


.pours {
    display: flex;
    flex-direction: column;
}

.pours button {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #D07725;
    color: #0c0c0c;
}

.container_3 {
    width: 800px;
    float: right;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #451e05;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px;
}

.container_4 {
    width: 800px;
    float: right;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #451e05;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px;
}

.container_5 {
    width: 800px;
    float: right;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #451e05;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px;
}

button {
    background-color: #F0ba34;
    color: #120404;
    border-radius: 5px;
    float: inline-end;
}

.title {
    font-size: 20px;
    color: var(--whiskey-orange);
    font-weight: 700;
}

.bucket-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Optional: Adds space between items */
}

.bucket-item {
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    background-color: #fff; /* Default color if not set in JavaScript */
    flex: 1 1 200px; /* Adjusts the flex-grow, flex-shrink, and flex-basis properties */
    max-width: 200px;
    height: 100px;
    box-sizing: border-box;
}


/* Makes the container circular */
.circle-container {
    width: 100px;
    height: 100px;
    background-color: var(--whiskey-orange);
    border-radius: 50%;
}

footer {
    border: 2px solid var(--whiskey-orange);
}



/* media queries below */
@media screen and (max-width: 576px) {

    header {
        height: 16vh;
    }
    .explore-main{
        height: 100vh;

    }


.pours button {
    background-color: blue;
}
}