
/* Color Scheme */
:root {
  --background-brown: #451E05;
  --whiskey-orange: #FF8D26;
  --sky-blue: #31C5FF;
  --glass-grey: #D5DBE9;
}


body {
  background-image: url(../../assets/img/dipslaycase-unsplash.png);
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  height: 280vh;
}


a{
  text-decoration: none;
  font-size: larger;
  color: #ffffff;
  margin: 3px;
  border-radius: 5px;
}

header{
  padding: 30px;
  border-radius: 5px;
  border: 3px solid var(--sky-blue);
}

nav{
  float: right;
  display: flex;
  flex-direction: row;
  width: 15%;
  justify-content: space-between;
  padding: 5px;
  margin: 3px;
}

#logo{
  max-width: 20%;
  max-height: 20%;
}

#logout {
  position: absolute;
  top: 80px;
  right: 40px;
}


h1 {
  color: var(--whiskey-orange);
}

.drink-card {
  background-color: var(--background-brown);
  color: var(--whiskey-orange);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 2px dotted;
  padding: 0px;
  align-items: center;
}

/* Modal pop up of the Bottle object to add details of thier entry*/
.modal-dialog {
  color: var(--whiskey-orange)
}
