
/* Color Scheme */
:root {
  --background-brown: #451E05;
  --whiskey-orange: #FF8D26;
  --sky-blue: #31C5FF;
  --glass-grey: #D5DBE9;
}


.showcase-main {
  background-image: url(../../assets/img/dipslaycase-unsplash.png);
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  height: 280vh;
}


header{
  padding: 30px;
  border-radius: 5px;
  border: 3px solid var(--sky-blue);
}



.showcase-h1 {
  color: var(--whiskey-orange);
  text-align: center;
  display: flex;
  border: 3px solid red;
  height: 100px;
  width: 500px;

}





.drink-card {
  background-color: var(--background-brown);
  color: var(--whiskey-orange);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 2px dotted;
  padding: 0px;
  align-items: center;
}

/* Modal pop up of the Bottle object to add details of thier entry*/
.modal-dialog {
  color: var(--whiskey-orange)
}
